header {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0; 
    transition: box-shadow 1s;
}
header:hover{
    overflow-y: scroll;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

body {
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    padding-top: 70px;
    -webkit-font-smoothing: antialiased;
}
.Container {
    display: flex;
    justify-content: space-around;
}
.dropdown {
    display : none;
    position: absolute;
    width : 90px;
}
.dropdown-menu:hover .dropdown { 
    display:flex;
    flex-direction: column;
    background-color:white;
    justify-content: space-around;
    width: 300px;
    height: 300px;
    padding-left: 20px;
    box-shadow: 2px 2px 2px 2px gray;
}
li {list-style:none}
ul{
    display: flex;
    justify-content: space-around;
    width:30%
}
a {
    text-decoration: none;
    color: #ababab;
    font-size: 20px;
}
a.current {
    color: #00b39b;
}

a:hover {
    color: #00b39b;
}

main {
    right: 0px;
    margin-top: 50px ;
}
.logo1 {
    margin-left: 47%;
}
.title {
    text-align: center;
    color: #00b39b;
}
.p {
    width: 500px;  
    line-height: 1.75;
    font-size: 20px;
}
.paragraph {
    display:flex;
    justify-content: space-around;
    margin-left: 300px;
    width: 1200px;

}
.box1 {
    display: flex;
    margin-top: 50px;
    background-color: #00ccb1;
    width: 350px;
    height: 300px;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 10px 10px 10px;
    border-radius: 10px;
}
.box1:hover {
    cursor: pointer;
    opacity: 85%;
    
}
.box2 {
    display: flex;
    margin-top: 50px;
    background-color: #3d83df;
    width: 350px;
    height: 300px;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 10px 10px 10px;
    border-radius: 10px;
}
.box2:hover {
    cursor: pointer;
    opacity: 85%;
    
}
.box3 {
    display: flex;
    margin-top: 50px;
    background: #1b2734;
    width: 350px;
    height: 300px;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 10px 0px 10px;
    border-radius: 10px;
}
.box3:hover {
    cursor: pointer;
    opacity: 85%;
    
}
.textbox {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: -.3px;
}
.textbox2 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: -.3px;
}
select {
    margin-bottom: 30px;
    width: 200px;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0 2em 0 0;
    outline: 0;
    text-transform: none;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 800;
    color: #fff;
}

option {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    color: #333;
}
.box {
    display:flex;
    justify-content: space-around;
    width: 1400px;
    margin-left: 300px;
    color: white;
}
.Global {
font-family: Work Sans,Arial,sans-serif;
font-size : 30px;
color: #00b39b;
}
.lg {
    width: 800px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cropped {
    filter: grayscale(100%);
    }

.box4 {
    display:flex;
    justify-content: space-around;
    width: 1400px;
    margin-left: 300px;
}
.Section0 {
    background: #e5faf8;
    width: 100%;
    background: #e5faf8;
    background-image: linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
    padding: 1.875em 0 0.625em;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 3.125rem;
    margin-right: auto;
    margin-bottom: 5.5rem;
    margin-left: auto;
}
.Section {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    height: 600px;
}
.Section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}
.text {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
}

.Section2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;   
    margin-top: 30px; 
}
.box5 {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    flex-direction: column;
    text-align: center;
    height: 250px;
    width: 250px;
    padding: 10px auto 5px auto;
}

.Section3 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;  
}
.box6 {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    flex-direction: column;
    text-align: center;
    height: 250px;
    width: 250px;
    padding: 10px auto 5px auto;
}
.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.Section4 {
    display: flex;
    width: 700px;
    justify-content: space-evenly;
    margin-right: 250px;
    
}
.h3 {
    color: #00b39b;
}
.quote {
    max-width: 460px;
    margin: 50px auto auto auto;
    font-size: .875em;
    text-align: center;
}

.quote h1 {
    font-size: 30px;
    color: #00b39b;
}

.countries-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 100px 50px 100px;
    margin-left: 300px;
    justify-content: space-evenly;
    width: 1200px;

}


.Warsaw {
    margin-bottom: 30px;
}

.Warsaw:hover {
    box-shadow: 5px 10px 18px #888888;
    cursor: pointer;
    border-radius: 2px 2px 2px 2px;
}


.barcelone {
    margin-bottom: 30px;

}

.barcelone:hover {
    box-shadow: 5px 10px 18px #888888;
    cursor: pointer;
    border-radius: 2px 2px 2px 2px;
}



.Munich {
    margin-bottom: 30px;

}

.Munich:hover {
    box-shadow: 5px 10px 18px #888888;
    cursor: pointer;
    border-radius: 2px 2px 2px 2px;
}


.Istanbul {
    margin-bottom: 30px;

}

.Istanbul:hover {
    box-shadow: 5px 10px 18px #888888;
    cursor: pointer;
    border-radius: 2px 2px 2px 2px;
}


.Rome {
    margin-bottom: 30px;

}

.Rome:hover {
    box-shadow: 5px 10px 18px #888888;
    cursor: pointer;
    border-radius: 2px 2px 2px 2px;
}


.Mexico {
    margin-bottom: 30px;

}

.Mexico:hover {
    box-shadow: 5px 10px 18px #888888;
    cursor: pointer;
    border-radius: 2px 2px 2px 2px;
}

.Bologna {
    margin-bottom: 30px;

}

.Bologna:hover {
    box-shadow: 5px 10px 18px #888888;
    cursor: pointer;
    border-radius: 2px 2px 2px 2px;
}

.Curitiba {
    margin-bottom: 30px;

}
.Curitiba:hover {
    box-shadow: 5px 10px 18px #888888;
    cursor: pointer;
    border-radius: 2px 2px 2px 2px;
}

.open {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;
    align-items: center;
}

.open a {
    text-decoration: none;
    color: #747474;

}

.open button {
    padding: 15px 32px;
    border-radius: 4px;
    background-color: #3d83df;
    text-align: center;
    color: #fff;
    outline: none;
    border: none;
    transition-duration: 1.5s;
}

.open button:hover {
    background-color: #fff;
    color: #3d83df;
    border: 1px solid #3d83df;
}
.outro {
    max-width: 520px;
    margin: 70px auto 30px auto;
    font-size: .875em;
    text-align: center;

}

.outro h1 {
    font-size: 2.1428571429em;
    color: #333;
    margin-bottom: 0.75em;
}

input {
    padding: 15px 32px;
    border-radius: 4px;
    background-color: #3d83df;
    text-align: center;
    color: #fff;
    outline: none;
    border: none;
}
footer {
    border-top: 1px solid #eef2f2;
    text-align: center;
    padding: 1em 0;
}

.locations a {
    text-decoration: none;
    color: #3d83df;
    font-size: 13px;
}

.locations a:hover {
    text-decoration: underline;
}